$bg-secondary: #6c757d;
$bg-transparent-white: rgba(255,255,255,0.7);


.inventory{
    background-color: $bg-secondary;
    background-image: url('../assets/pokemon-background.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
body{
    background-color: $bg-secondary;
}

.silhouette{
    -webkit-filter: contrast(0) sepia(100%) hue-rotate(190deg) saturate(2000%) brightness(100%);
    filter: contrast(0) sepia(100%) hue-rotate(190deg) saturate(2000%) brightness(100%);
    opacity: 1;
  }

.back-button{
    background-color: transparent;
    border: none;
}
