$transparent-white: rgba(255,255,255,0.7);
$dark-yellow: #CCA30F;
$gold: #F2BD00;

label{
    text-align: left;
}
.ucf-background{
    background-image: url('../assets/UCF-Campus.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px)brightness(0.6);
}

.title{
    position: absolute;
    top:3%;
    color: $dark-yellow;
    -webkit-text-stroke: 3px white; 
}
.title h1 {
    font-size: 10vw;
}

.pokeball{
    position: absolute;
    height: 70%;
    top:25%;
}


.login{
    position: absolute;
    font-family: 'Mako', sans-serif;
    top: 40%;
    z-index:5;
    background-color: $transparent-white;
    min-height: 43vh;
    width: -moz-fit-content;
    width: fit-content;
}

#Register .pokeball{
    position: absolute;
    height: 80%;
    top:20%;
}

#Register .login{
    position: absolute;
    font-family: 'Mako', sans-serif;
    top: 35vh;
    height: 50vh;
    z-index:5;
    background-color: $transparent-white;
    width: -moz-fit-content;
    width: fit-content;

}