$transparent-white: rgba(255,255,255,0.7);
$dark-yellow: #CCA30F;
$gold: #F2BD00;

label{
    text-align: left;
}
.ucf-background{
    background-image: url('../assets/UCF-Campus.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px)brightness(0.8);
}

.title{
    position: absolute;
    top:3%;
    color: $dark-yellow;
    -webkit-text-stroke: 3px white; 
}
.title h1 {
    font-size: 10vw;
}

.pokeball{
    position: absolute;
    height: 80%;
    top:20%;
}


.Login-container{
    height: 55vh;
    width: 50vh;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: absolute;
    z-index:5;
    top: 34%;
    overflow: hidden;
    background-color: $transparent-white;
}

.btn{
    height: 9%;
    width: 100%;
    background-color: white;
    box-shadow: 10px 10px 30px rgb(254, 215, 188);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-btn,
.register-btn {
    font-size: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.slider {
    height: 9%;
width: 50%;
    border-radius: 50px;
    background-image: linear-gradient(to right,
            rgb(242, 189, 0),
            rgb(240, 163, 15));
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}
 
.moveslider {
    left: 50%;
}
 
.form-section {
    height: 500px;
    width: 1000px;
    display: flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0px;
    align-items: center;
}
.form-section-move {
    left: -50vh;
}
 
.login-box,
.register-box {
    width: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
}
.login-box {
    gap: 20px;
}
 
.ele {
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    padding-left: 30px;
    font-size: 18px;
}
.clkbtn {
    width: 40%;
    border-radius: 50px;
    background-image: linear-gradient(to right,
    rgb(242, 189, 0),
    rgb(240, 163, 15));
    font-size: 22px;
    border: none;
    cursor: pointer;
}

.Email-container{
    height: 60vh;
    width: 60vh;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: absolute;
    z-index:5;
    top: 34%;
    overflow: hidden;
    background-color: $transparent-white;
}