$bg-transparent-white: rgba(255,255,255,0.7);

html, body{
    height:100vh
}
.profile{
    height: 100vh;
    background-image: url('../assets/pokemon-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 100px;
}


.name-tag{
    // background-color: $bg-transparent-white;
    background-image: url('../assets/textbox.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 5vh;
}

.monsters{
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
}

.ball-background{   
    background-image: url('../assets/small_ball.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.monster{
    width: 50%;   
    margin-top: 20%;
}

.display{
    background-color: $bg-transparent-white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center ;
    margin-top: 20px;
}

.monsterDiv{
    height: 90vh;
}
.characterDiv img{
    width: 47%
}