$bg-transparent-white: rgba(255,255,255,0.7);

html, body{
    height:100%
}
.profile{
    height: 100vh;
    margin-top: 50px; 
}


.name-tag{
    background-color: $bg-transparent-white;
    border-radius: 10px;
}

.monsters{
    background-color: $bg-transparent-white;
    border-radius: 10px;
}

.ball-background{   
    background-image: url('../assets/small_ball.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.monster{
    width: 50%;
    margin-left: -5vw;    
}
