@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mako&display=swap');
body {
    font-family: 'Bubblegum Sans', cursive;
}
html {
    height: 100%;
}
.map-container {
    width: 80%;
    height: 90vh;
    border-radius: 10px;
}
